### Importing Libraries

In [1]:
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report,confusion_matrix

#### DataSet_ Links

In [2]:
#https://www.kaggle.com/discussions/getting-started/356678

#https://www.kaggle.com/discussions/general/268890

### Load_DataSet

In [3]:
df = pd.read_csv(r"C:\Users\ragha\OneDrive\Desktop\DS_CareeR\NuCoT_TraininG\noTES\Machine Learning\Supervised Learning\Classification\Placement_Data_Full_Class.csv")

### Examine DataSet

In [4]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [5]:
df.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [6]:
df['status'].unique()

array(['Placed', 'Not Placed'], dtype=object)

In [7]:
print('Unique_Values of gender :',df['gender'].unique())
print('Unique_Values of ssc_p :',df['ssc_p'].unique())
print('Unique_Values of ssc_b :',df['ssc_b'].unique())
print('Unique_Values of hsc_p :',df['hsc_p'].unique())
print('Unique_Values of hsc_b :',df['hsc_b'].unique())
print('Unique_Values of hsc_s :',df['hsc_s'].unique())
print('Unique_Values of degree_p :',df['degree_p'].unique())
print('Unique_Values of degree_t :',df['degree_t'].unique())
print('Unique_Values of workex :',df['workex'].unique())
print('Unique_Values of etest_p :',df['etest_p'].unique())
print('Unique_Values of specialisation :',df['specialisation'].unique())
print('Unique_Values of mba_p :',df['mba_p'].unique())
print('Unique_Values of status :',df['status'].unique())

Unique_Values of gender : ['M' 'F']
Unique_Values of ssc_p : [67.   79.33 65.   56.   85.8  55.   46.   82.   73.   58.   69.6  47.
 77.   62.   63.   60.   79.   69.8  77.4  76.5  52.58 71.   76.76 64.
 61.   87.   69.   51.   81.   78.   74.   49.   76.   70.89 50.   75.2
 54.4  40.89 80.   60.4  68.   52.6  84.2  86.5  54.   83.   80.92 69.7
 75.   84.86 64.6  56.6  59.   66.5  84.   81.7  70.   83.84 59.6  66.
 85.   52.   60.23 70.5  45.   61.08 69.5  73.96 68.2  60.8  72.   80.4
 76.7  74.9  77.44 77.67 89.4  44.   75.4  53.   51.57 55.6  74.2  67.16
 63.3  67.9  48.   59.96 63.4  73.24 77.8  56.28 88.   78.5  61.8  65.2
 83.96 54.2  55.68 41.   83.33 43.   80.6 ]
Unique_Values of ssc_b : ['Others' 'Central']
Unique_Values of hsc_p : [91.   78.33 68.   52.   73.6  49.8  49.2  64.   79.   70.   61.   68.4
 55.   87.   47.   75.   66.2  67.   66.   65.   76.   60.8  60.   97.7
 54.6  76.5  73.5  53.   81.   51.   78.   44.   58.   77.   63.16 39.
 73.   71.98 62.   37.   73.2  61.12 45.83 66.6  71.4  65.58 73.4  64.2
 74.   78.5  70.29 83.83 64.8  70.4  80.   90.9  63.   89.83 90.   57.
 69.   62.5  82.   72.   50.   54.   72.8  40.   66.8  59.   71.   89.7
 92.   56.   64.89 65.66 86.   58.66 60.5  74.66 69.4  49.   87.6  72.5
 42.16 67.2  50.83 97.   71.5  60.33 62.83 65.5  77.6  70.2  61.4  61.33
 42.  ]
Unique_Values of hsc_b : ['Others' 'Central']
Unique_Values of hsc_s : ['Commerce' 'Science' 'Arts']
Unique_Values of degree_p : [58.   77.48 64.   52.   73.3  67.25 79.   66.   72.   61.   60.   78.3
 65.   59.   50.   69.   65.6  70.   85.   72.23 64.74 78.86 50.2  67.5
 73.   66.4  81.   57.   80.   68.   68.4  56.2  53.   61.4  74.   72.11
 66.89 67.4  75.   67.   72.7  62.   71.   78.   71.72 70.2  77.5  71.93
 64.5  77.2  82.   50.8  54.   76.   63.   83.   66.6  64.6  69.6  69.3
 64.33 75.5  77.72 77.   69.5  73.43 70.67 71.25 56.   55.   84.   59.9
 60.9  57.5  77.25 63.35 61.26 64.27 64.2  62.8  64.21 59.79 54.38 69.2
 64.8  56.3  91.   56.87 77.6 ]
Unique_Values of degree_t : ['Sci&Tech' 'Comm&Mgmt' 'Others']
Unique_Values of workex : ['No' 'Yes']
Unique_Values of etest_p : [55.   86.5  75.   66.   96.8  74.28 67.   91.34 54.   62.   60.   68.
 76.   72.   50.48 50.   95.   55.53 92.   97.4  94.   73.35 77.   52.
 64.   50.89 88.   68.44 71.   58.   53.7  93.   65.   63.   89.   78.
 71.2  87.   80.   74.   57.6  61.6  59.   68.5  61.   89.69 68.92 68.71
 79.   70.   95.5  86.   84.27 69.   86.04 82.   84.   78.74 53.88 95.46
 93.91 56.39 57.5  85.   57.2  72.15 96.   97.   82.66 73.   55.67 80.4
 55.5  81.2  90.   74.4  55.6  56.   83.   57.   64.25 98.   56.15 93.4
 57.63 75.2  53.04 58.1  54.48 58.06 63.79 87.5  75.5  95.65 59.32 87.55
 61.28 88.56 92.66 91.  ]
Unique_Values of specialisation : ['Mkt&HR' 'Mkt&Fin']
Unique_Values of mba_p : [58.8  66.28 57.8  59.43 55.5  51.58 53.29 62.14 61.29 52.21 60.85 63.7
 65.04 68.63 54.96 64.66 62.54 67.28 64.08 77.89 56.7  69.06 68.81 63.62
 74.01 65.33 57.55 57.69 64.15 51.29 58.32 62.21 72.78 62.77 62.74 51.45
 55.47 56.86 62.56 66.72 69.76 51.21 62.9  69.7  66.53 71.63 54.55 62.46
 56.11 62.98 62.65 65.49 71.04 65.56 52.71 66.88 63.59 57.99 56.66 57.24
 62.48 59.69 59.5  58.78 57.1  58.46 60.99 59.24 68.07 65.45 66.94 68.53
 59.75 67.2  67.   64.27 57.65 59.42 67.99 62.35 70.2  60.44 66.69 62.
 76.18 57.03 59.08 64.36 62.36 68.03 62.79 59.47 55.41 54.97 62.16 64.44
 69.03 57.31 64.95 61.31 65.83 58.23 55.3  65.69 73.52 58.31 56.09 54.8
 60.64 53.94 63.08 55.01 60.5  70.85 67.05 70.48 64.34 58.81 71.49 71.
 61.26 73.33 68.2  58.4  76.26 68.55 60.78 53.49 60.98 67.13 65.63 61.58
 60.41 71.77 54.43 56.94 61.9  60.39 58.52 63.23 55.14 62.28 58.54 61.3
 58.87 65.25 53.2  65.99 52.72 55.03 61.87 60.59 72.29 62.72 66.06 66.46
 65.52 74.56 52.38 75.71 58.79 65.48 69.28 66.04 52.64 59.32 66.23 60.69
 57.9  70.81 72.14 56.6  60.02 59.81 61.82 57.29 71.43 62.93 64.86 56.13
 62.5  61.01 57.34 56.63 64.74 58.95 54.48 69.71 71.96 55.8  52.81 58.44
 60.11 58.3  67.69 56.81 53.39 71.55 62.92 56.49 74.49 53.62 69.72 60.23
 60.22]
Unique_Values of status : ['Placed' 'Not Placed']

In [8]:
df.value_counts()

sl_no  gender  ssc_p  ssc_b    hsc_p  hsc_b    hsc_s     degree_p  degree_t   workex  etest_p  specialisation  mba_p  status  salary
1      M       67.00  Others   91.00  Others   Commerce  58.00     Sci&Tech   No      55.00    Mkt&HR          58.80  Placed  270000.0    1
132    F       74.90  Others   57.00  Others   Science   62.00     Others     Yes     80.00    Mkt&Fin         60.78  Placed  360000.0    1
134    M       73.00  Central  64.00  Others   Commerce  77.00     Comm&Mgmt  Yes     65.00    Mkt&HR          60.98  Placed  250000.0    1
135    F       77.44  Central  92.00  Others   Commerce  72.00     Comm&Mgmt  Yes     94.00    Mkt&Fin         67.13  Placed  250000.0    1
136    F       72.00  Central  56.00  Others   Science   69.00     Comm&Mgmt  No      55.60    Mkt&HR          65.63  Placed  200000.0    1
                                                                                                                                         ..
73     M       84.86  Others   67.00  Others   Science   78.00     Comm&Mgmt  No      95.50    Mkt&Fin         68.53  Placed  240000.0    1
74     M       64.60  Central  83.83  Others   Commerce  71.72     Comm&Mgmt  No      86.00    Mkt&Fin         59.75  Placed  218000.0    1
75     M       56.60  Central  64.80  Central  Commerce  70.20     Comm&Mgmt  No      84.27    Mkt&Fin         67.20  Placed  336000.0    1
77     F       66.50  Others   70.40  Central  Arts      71.93     Comm&Mgmt  No      61.00    Mkt&Fin         64.27  Placed  230000.0    1
214    F       74.00  Others   66.00  Others   Commerce  58.00     Comm&Mgmt  No      70.00    Mkt&HR          60.23  Placed  204000.0    1
Name: count, Length: 148, dtype: int64

### Data Cleaning

In [9]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [10]:
df.drop(['sl_no','salary'],axis = 1,inplace = True)
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed

In [11]:
df.columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p', 'status'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          215 non-null    object
 1   ssc_p           215 non-null    float64
 2   ssc_b           215 non-null    object
 3   hsc_p           215 non-null    float64
 4   hsc_b           215 non-null    object
 5   hsc_s           215 non-null    object
 6   degree_p        215 non-null    float64
 7   degree_t        215 non-null    object
 8   workex          215 non-null    object
 9   etest_p         215 non-null    float64
 10  specialisation  215 non-null    object
 11  mba_p           215 non-null    float64
 12  status          215 non-null    object
dtypes: float64(5), object(8)
memory usage: 22.0+ KB

In [13]:
df.nunique()

gender              2
ssc_p             103
ssc_b               2
hsc_p              97
hsc_b               2
hsc_s               3
degree_p           89
degree_t            3
workex              2
etest_p           100
specialisation      2
mba_p             205
status              2
dtype: int64

### Data Preprocessing

In [14]:
df['gender'] = df['gender'].astype('category')
df['gender'] = df['gender'].cat.codes

df['ssc_b'] = df['ssc_b'].astype('category')
df['ssc_b'] = df['ssc_b'].cat.codes

df['hsc_b'] = df['hsc_b'].astype('category')
df['hsc_b'] = df['hsc_b'].cat.codes

df['hsc_s'] = df['hsc_s'].astype('category')
df['hsc_s'] = df['hsc_s'].cat.codes

df['degree_t'] = df['degree_t'].astype('category')
df['degree_t'] = df['degree_t'].cat.codes

df['workex'] = df['workex'].astype('category')
df['workex'] = df['workex'].cat.codes

df['specialisation'] = df['specialisation'].astype('category')
df['specialisation'] = df['specialisation'].cat.codes

df['status'] = df['status'].astype('category')
df['status'] = df['status'].cat.codes

In [15]:
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,1,67.00,1,91.00,1,1,58.00,2,0,55.0,1,58.80,1
1,1,79.33,0,78.33,1,2,77.48,2,1,86.5,0,66.28,1
2,1,65.00,0,68.00,0,0,64.00,0,0,75.0,0,57.80,1
3,1,56.00,0,52.00,0,2,52.00,2,0,66.0,1,59.43,0
4,1,85.80,0,73.60,0,1,73.30,0,0,96.8,0,55.50,1

In [16]:
X = df.drop(['status'],axis = 1)
Y = df[['status']]

In [17]:
Y[Y.status == 1]

     status
0         1
1         1
2         1
4         1
7         1
..      ...
209       1
210       1
211       1
212       1
213       1

[148 rows x 1 columns]

In [18]:
Y[Y.status == 0]

     status
3         0
5         0
6         0
9         0
12        0
..      ...
198       0
201       0
206       0
208       0
214       0

[67 rows x 1 columns]

In [19]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)

In [20]:
# Print the shapes of training and testing data arrays
print(f'shape of X_train = {X_train.shape},\nshape of X_test = {X_test.shape} ,\nshape of Y_train = {Y_train.shape},\nshape of Y_test = {Y_test.shape}')

shape of X_train = (172, 12),
shape of X_test = (43, 12) ,
shape of Y_train = (172, 1),
shape of Y_test = (43, 1)

### KNN Classifier

In [21]:
Knn = KNeighborsClassifier(n_neighbors = 4)
Knn.fit(X_test,Y_test)

C:\Users\ragha\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\neighbors\_classification.py:233: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=4)

In [22]:
Y_pred = Knn.predict(X_test)
Y_pred

array([1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1],
      dtype=int8)

### Model_ Evaluation

In [23]:
print('Accuracy_of_Model :', Knn.score(X_test,Y_test))

Accuracy_of_Model : 0.8837209302325582

In [24]:
cm = confusion_matrix(Y_pred,Y_test)
print(f'Confusion_matrix : \n\n {cm}')

Confusion_matrix :

 [[14  3]
 [ 2 24]]

In [25]:
print(f'classification report :\n\n {classification_report(Y_pred,Y_test)}')

classification report :

               precision    recall  f1-score   support

           0       0.88      0.82      0.85        17
           1       0.89      0.92      0.91        26

    accuracy                           0.88        43
   macro avg       0.88      0.87      0.88        43
weighted avg       0.88      0.88      0.88        43

In [26]:
data = {
    'Considered_n_neighbors': ['n_nieghbors = 3','n_nieghbors = 4','n_nieghbors = 5','n_nieghbors = 6','n_nieghbors = 9','n_nieghbors = 12'],
    'Accuracy': [0.88, 0.93, 0.90,0.91,0.83,0.84]
}
# Create a DataFrame from the dictionary
accuracy_df = pd.DataFrame(data)

# Display the DataFrame
accuracy_df

  Considered_n_neighbors  Accuracy
0        n_nieghbors = 3      0.88
1        n_nieghbors = 4      0.93
2        n_nieghbors = 5      0.90
3        n_nieghbors = 6      0.91
4        n_nieghbors = 9      0.83
5       n_nieghbors = 12      0.84